@import url(global.css);
@import url(aside.css);
@import url(main.css);


body {
  background-color: var(--shape-background);
  overflow: hidden;
  height: 100vh;


  .main-content{
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    gap: 1.25rem;

    padding: 1.25rem;

    aside{
      width: 31.25%;
      background: url(../assets/Background.png) ;
      background-size: cover;
      height: 728px;

      padding: 2rem;
      border-radius: 0.5rem;

    }

    main{
      width: 64.06%;
      background-color: var(--shape-body);
      height: 1980px;
      overflow: auto;
      padding-block: 5rem;
      height: 100vh;
      border-radius: 0.5rem;
    }
  }
}


.grid{
  display: grid;
}

.grid-2{
  grid-template-columns: 1fr 1fr;
}

.gap-1{
 gap: 1rem;
}

.mt-1{
  margin-top: 1rem;
}

.bg-brand-light{
  background-color: var(--brand-light);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-fuschia {
  background-color: var(--fuschia);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-lime {
  background-color: var(--lime);
}

.bg-green {
  background-color: var(--green);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-danger {
  background-color: var(--danger);
}