main{

  form{
    max-width: 560px;
    margin-inline: auto;
  }

  h1{
    font: var(--heading-md);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  };

  label{
    font: var(--body-sm);
    color: var(--text-body);
  }

  fieldset{
    border: none;

    & + fieldset{
      margin-top: 3rem;
    }


    legend{
      display: flex;
      align-items: center;
      gap: 0.75rem;

      span{
        font: var(--heading-sm);
        color: var(--text-heading);
      }

      & + .input-wrapper{
        margin-top: 1.5rem;
      }

      
    }

    .input-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;

      label{
        font: var(--body-sm);
        color: var(--text-body);
      }

      input{
        font: var(--body-md);
        background-color: var(--input-base);
        color: var(--text-heading);
        border: 1px solid var(--input-stroke);
        border-radius: 8px;
        padding: 0.8125rem 1rem;
        width: 100%;

        &::placeholder{
          color: var(--input-placeholder);
        }

        input:focus:not(:placeholder-shown) {
          border-color: #28a745; /* Bordas verdes quando o campo está preenchido e focado */
        }

        &:focus, &:focus-within{
          border-color: var(--brand-light);
          outline: 1px solid var(--brand-light);
          
        }

        
      }
    }

    .radio-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;

      label{
        font: var(--body-sm);
        color: var(--text-body);
      }

      .radio-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        background-color: var(--input-base);
        width: 100%;
        height: 100%;
        padding: 0.25rem;
        border-radius: 8px;
  
        label{
          grid-column: 1/4;
        }
  
        
  
        .radio-inner{
          display: flex;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;
  
          .radio-image{
            width: 16px;
            height: 16px;
          }
  
          svg path{
            fill: var(--input-placeholder);
          }
  
          &:has(:checked) svg path{
            fill: var(--brand-light);
            
          }
            
          & input,
          & input:focus,
          & input:hover{
            all: unset;
            position: absolute;
            inset: 0;
          }
  
          &:has(:checked) {
            background-color: var(--shape-button);
            border-radius: 8px;
          }
  
          label{
            font: var(--body-sm);
            color: var(--text-body);
          }
  
          &:has(:checked) label{
            color: var(--text-heading);
  
          }
         
        }
      }
    }

    .textarea-wrapper{
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-top: 1rem;

      label{
        font: var(--body-sm);
        color: var(--text-body);
      }

      &::placeholder{
        color: var(--input-placeholder);
      }

      textarea{
        padding: 1rem;
        height: 136px;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 8px;
        resize: vertical;
        max-height: 250px;
      }
      
    }

    .colors-container{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1.5rem;

      label{
        font: var(--body-sm);
        color: var(--text-body);
      }

      .colors-wrapper{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
       

        .colors-inner{
          position: relative;
          cursor: pointer;
          width: 34px;
          
          .color{
            width: 34px;
            height: 34px;
            border-radius: 999px;
            border: 6px solid var(--shape-button);
            
          }
          

          & input,
          & input:focus,
          & input:hover{
            all: unset;
            position: absolute;
            inset: 0;
          }

          &:has(:checked) .color{
            outline: 2px solid var(--brand-light);
          }
        }
      }
    }

    .theme-container{
      margin-top: 1.75rem;

      

      label{
        margin-bottom: 1rem;
      }

      .theme-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(7.875rem,1fr));
        gap: 0.5rem;
        margin-top: 1rem;

        .theme-inner{
          background-color: var(--shape-button);
          padding: 4px 4px 8px 4px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          border-radius: 8px;
          position: relative;
          border: 2px solid var(--input-stroke);
          cursor: pointer;
          

          label{
            font: var(--body-sm);
            color: var(--text-heading);
            margin-bottom: 0;
          }

          &:has(:checked) svg path{
            fill: var(--brand-light);
            
          }
            
          & input,
          & input:focus,
          & input:hover{
            all: unset;
            position: absolute;
            inset: 0;
          }

          &:has(:checked) {
            border-color: var(--brand-light);
          }
        
        }
      }
    }

    .style-upload-container{
      display: grid;
      grid-template-columns: 31.43% 65.71%;

      .style-container{        
          margin-top: 1.75rem;

          

          .style-wrapper{
            display: flex;
            align-items: center;
            gap: 0.75rem;
            position: relative;
            cursor: pointer;

            margin-top: 1rem;

            &:has(:checked) svg path{
              fill: var(--brand-light);
              
            }

            #styleinput{
              width: 64px ;
            }
              
            & input,
            & input:focus,
            & input:hover{
              all: unset;
              position: absolute;
              inset: 0;
            }

            .style-image{
              background: url(../assets/off.png);
              width: 64px;
              height: 32px;
              
            }

            &:has(:checked) .style-image{
              background: url(../assets/on.png);
            }
          }

      }
    }

    .upload-container{
      margin-top: 1.75rem;

      label{
        font: var(--body-sm);
        color: var(--text-body);
      }

      .upload-wrapper{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 1rem;
        height: 2rem;
        gap: 0.75rem;
        cursor: pointer;

        & input,
        & input:focus,
        & input:hover{
          all: unset;
          position: absolute;
          inset: 0;
          opacity: 0;
        }



        .upload-button{
          background-color: var(--shape-button);
          padding: 0.25rem 0.75rem;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          height: 100%;

          span{
            font: var(--body-sm-semibold);
            color: var(--text-heading);
          }

        }

        span{
          font: var(--body-md);
          color: var(--input-placeholder);

        }
      }
    }
    
  }
}